* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f9f9;
    font-family: "Frank Ruhl Libre";
    color: #004d4d;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 0 5px 5px rgb(184, 182, 182);
    background-color: #fff;
    position: fixed;
    z-index: 1;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 700;
}

.navbar h1 {
    color: #004d4d;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.navbar li {
    color: #222222;
    cursor: pointer;
}

.navbar li:hover {
    color: #004d4d;
}

main {
    position: relative;
    top: 100px;
    width: 90%;
    margin: auto;
}

main h2 {
    font-size: 32px;
    text-align: center;
    padding: 5px;
    color: #004d4d;
    font-weight: 400;
}

.image {
    width: 270px;
    background-color: #fff;
    height: 430px;
    color: #222222;
}

.image:hover {
    box-shadow: 0 0 2px 2px orange;
}

.image img {
    width: 100%;
}

.image div {
    padding: 10px;
    font-size: 28px;
    text-align: center;
}

.source {
    font-size: 16px;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 20px;
}

input {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.search-bar {
    margin-top: 10px;
    display: flex;
}

.search-bar svg {
    width: 20px;
    height: 45px;
}

.search-bar button {
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

.status {
    color: red;
    font-size: 20px;
    text-align: center;
}

.about, .recipe {
    position: relative;
    top: 100px;
    padding: 20px;
}

.about {
    text-align: center;
}

.about h2 {
    font-size: 32px;
    text-decoration: underline;
}

.about h3 {
    font-size: 24px;
    text-decoration: underline;
}

.about p {
    font-size: 20px;
    color: #222;
    font-family: "Roboto";
    margin: 20px 0;
}

.recipe {
    color: #222;
    font-size: 18px;
    font-family: "Roboto", Helvetica, sans-serif;
    width: 50%;
    background-color: white;
    margin: auto;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-name {
    font-weight: 400;
    font-size: 36px;
    padding: 20px 0;
}

.recipe-title {
    color: #117777;
    font-weight: 700;
    font-size: 14px;
}

.ingredients-title {
    padding: 10px 0;
    font-size: 32px;
    font-family: "Frank Ruhl Libre", Helvetica, sans-serif;
}

.recipe hr {
    background-color: #117777;
    margin-bottom: 20px;
}

.recipe button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    outline: none;
    background-color: #117777;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 20px 0;
    color: #fff;
}

.recipe button:active {
    background-color:#222;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

a {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    /* For mobile phones: */
    .recipes {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {
    /* For mobile phones: */
    .recipes {
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


@media screen and (max-width: 760px) {
    /* For mobile phones: */
    .recipes {
        grid-template-columns: 1fr;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .recipe {
        width: 100%;
        margin: 0;
    }
}
